[Unit]
Description=geoip-updater
Documentation=https://github.com/crazy-max/geoip-updater
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=geoipupd
Group=geoipupd
ExecStart=/usr/local/bin/geoip-updater --license-key 0123456789ABCD --download-path /usr/local/share/geoip --schedule "0 0 * * 0" --log-level info GeoLite2-ASN,GeoLite2-City,GeoLite2-Country
Restart=always

[Install]
WantedBy=multi-user.target
